---
import Pagination from "@/components/blog/Pagination.astro";
import Post from "@/components/blog/Post.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import {
  getPayloadCategories,
  getPayloadCategoryBySlug,
  getPayloadPostsByCategorySlug,
} from "@/lib/payload";
import { markdownify } from "@/lib/utils/textConverter";
import type { GetStaticPathsOptions } from "astro";

const { page } = Astro.props;
const { category } = Astro.params;

const categoryObj = await getPayloadCategoryBySlug(category);

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const { pagination } = config.settings;
  const categories = await getPayloadCategories();
  const allPaths: any[] = [];
  for (const c of categories) {
    const posts = await getPayloadPostsByCategorySlug(c.slug);
    const pages = paginate(posts, {
      params: {
        category: c.slug,
      },
      pageSize: pagination,
    });
    allPaths.push(...pages);
  }
  return allPaths;
};
---

<Base title={categoryObj?.data.title || category}>
  <!-- Banner -->
  <section
    class="banner"
    style="background-image: url('/images/banner/banner-bg.svg')"
  >
    <div class="container">
      <div class="row">
        <div class="lg:col-6">
          <h1
            set:html={markdownify(categoryObj?.data.title || category)}
            class="h2 mb-8"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- /End Banner -->

  <div class="section">
    <div class="container">
      <div class="row px-3">
        <div class="mx-auto px-0 lg:col-8">
          <h1 class="h2 mb-8">
            Posts relacionados com a categoria <span class="text-primary"
              >{category}</span
            >
          </h1>
          <div class="rounded px-9 py-12 shadow md:p-[60px]">
            {page.data.map((post: any) => <Post post={post} />)}
            <Pagination
              section={`categories/${category}`}
              currentPage={page.currentPage}
              totalPages={page.lastPage}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</Base>
